In [1]:
import pandas as pd
import os
import glob
from matplotlib import pyplot as plt

In [2]:
data_dir = os.listdir()
data_dir = data_dir[-2]

In [5]:
HS_code_map = pd.read_excel('2022 HSCode_20220101_marked_3단계분류 sheet 포함_v2.xlsx', sheet_name=1)

In [11]:
map_v2 = HS_code_map['Unnamed: 1'][101:186].apply(lambda x : str(x)[0:6])
map_v2 = pd.DataFrame(map_v2)
map_v2 = map_v2.reset_index()
map_v2 = map_v2.drop(['index'], axis='columns')
map_v2 = map_v2.rename(columns={'Unnamed: 1':'HS코드'})
map_v2

      HS코드
0   110100
1   110100
2   110220
3   110290
4   110290
..     ...
80  230990
81  230990
82  230990
83  151620
84  151590

[85 rows x 1 columns]

In [12]:
count = 0
for case_name in os.listdir(data_dir):
    current_path = os.path.join(data_dir, case_name)
    if current_path.split('_')[6]=='imported':
        print(current_path)
        raw_data = pd.read_csv(current_path, encoding='unicode_escape')
        drop_data = raw_data.drop(0, axis=0)
        drop_data['Code'] = drop_data['Code'].apply(lambda x: str(x) if len(x)==6 else '0'+str(x))
        using_data = pd.merge(map_v2, drop_data, left_on='HS코드', right_on='Code', how='inner')
        using_data = using_data.groupby('HS코드').sum()
        if count == 0 :
            im_temp = pd.DataFrame(using_data.sum(axis=0))
            im_temp = im_temp.rename(columns={0:current_path.split('_')[8]})
        else:
            im_temp_2 = pd.DataFrame(using_data.sum(axis=0))
            im_temp = pd.concat([im_temp,im_temp_2],axis=1)
            im_temp = im_temp.rename(columns={0:current_path.split('_')[8]})
        count+=1

주요 교역국 대세계 품목별 수출입액(USD단위)\Trade_Map_-_List_of_products_imported_by_Australia.csv
주요 교역국 대세계 품목별 수출입액(USD단위)\Trade_Map_-_List_of_products_imported_by_China.csv
주요 교역국 대세계 품목별 수출입액(USD단위)\Trade_Map_-_List_of_products_imported_by_Germany.csv
주요 교역국 대세계 품목별 수출입액(USD단위)\Trade_Map_-_List_of_products_imported_by_India.csv
주요 교역국 대세계 품목별 수출입액(USD단위)\Trade_Map_-_List_of_products_imported_by_Japan.csv
주요 교역국 대세계 품목별 수출입액(USD단위)\Trade_Map_-_List_of_products_imported_by_Korea__Republic_of.csv
주요 교역국 대세계 품목별 수출입액(USD단위)\Trade_Map_-_List_of_products_imported_by_Russian_Federation.csv
주요 교역국 대세계 품목별 수출입액(USD단위)\Trade_Map_-_List_of_products_imported_by_Saudi_Arabia.csv
주요 교역국 대세계 품목별 수출입액(USD단위)\Trade_Map_-_List_of_products_imported_by_Singapore.csv
주요 교역국 대세계 품목별 수출입액(USD단위)\Trade_Map_-_List_of_products_imported_by_Taipei__Chinese.csv
주요 교역국 대세계 품목별 수출입액(USD단위)\Trade_Map_-_List_of_products_imported_by_United_States_of_America.csv
주요 교역국 대세계 품목별 수출입액(USD단위)\Trade_Map_-_List_of_products_imported_by_Viet_Nam.csv

In [13]:
im_temp

,Australia.csv,China.csv,Germany.csv,India.csv,Japan.csv,Korea,Russian,Saudi,Singapore.csv,Taipei,United,Viet
Imported value in 2012,5971365,9939637,26981220,2576195,8682960,6421541,16342325,3616591,2102198,1807715,26578728,3315787.0
Imported value in 2013,6427330,10961529,29023862,2864527,7877073,6422489,14862583,4498593,1922398,1761952,26447136,3504085.0
Imported value in 2014,6584325,12023396,32183080,3650734,7502962,6921474,12592264,4184714,2421093,2264271,27823921,3937434.0
Imported value in 2015,6202265,12924157,27377093,3575503,6792213,6703079,7454341,4042281,2377079,2335253,29352239,4392971.0
Imported value in 2016,6224915,8235345,28178400,4521348,7098176,7122271,6990376,4347501,2260322,2370699,28904269,5082205.0
Imported value in 2017,6654094,7482615,30235855,5375593,7274272,7093335,8589980,4293547,1958055,2709358,30123142,4599680.0
Imported value in 2018,6785368,8402267,33031425,5223394,7439948,7432445,9141495,4585691,2421305,2855071,32022710,5135000.0
Imported value in 2019,6320927,9106199,31918018,4478486,7481369,7593311,9281180,3746679,2561042,2615412,34069354,5150589.0
Imported value in 2020,6097996,12169596,33002086,4693883,7555130,7880321,9381448,3627719,2649092,2667991,35443094,6039272.0
Imported value in 2021,6484796,13758747,34468238,4971305,8353818,8786507,10428390,5087966,2926764,3107901,40619011,7681786.0